@using Microsoft.AspNetCore.Identity
@using WishList.Models
@inject SignInManager<ApplicationUser> SignInManager

@if (SignInManager.IsSignedIn(User))
{
    <div>
        <form asp-action="Logout" asp-controller="Account" method="post">
            <button type="submit">Logout</button>
        </form>
    </div> 
}
else
{
    <div>
        <a asp-action="Register" asp-controller="Account">Register</a>
    </div>
    <div>
        <a asp-action="Login" asp-controller="Account">Log in</a>
    </div>
}


<h1>Welcome!</h1>

<div>
    <a asp-action="Index" asp-controller="Item">View wishlist</a>
</div>